.bold {
  font-weight: bold;
}
.vcardHeader {
  font-weight: bold;
  margin-top: 1em;
}
.vcardDataBox {
  margin-left: 2em;
}
.vcardBoxSpacer {
  margin-top: 1em;
}
#vcard-photo-box, #vcard-logo-box {
  max-width: 160px;
}
#vcard-photo-graphic, #vcard-logo-graphic {
  margin-left: 1.5em;
  max-width: 150px;
  max-height: 150px;
  border: 3px ridge #a3a3a3;
  padding: 3px;
  outline: 3px none #252525;
}
#vcard-lat-deg-value, #vcard-lat-min-value, #vcard-lat-sec-value,
#vcard-long-deg-value, #vcard-long-min-value, #vcard-long-sec-value {
  text-align: right;
}
#cdbCardDetailsAdvanced, #cdbCardEMAILgrid, #cdbCardTELgrid, #cdbCardADRmain, #cdbCardLABELgrid {
  overflow: auto;
}
#cdbCardNOTEdata {
  overflow: auto;
  white-space: pre;
}
.cdbLinkStyle {
  color: -moz-nativehyperlinktext;
  cursor: pointer;
}
.cdbLinkStyle:hover {
  background: #eaeaea;
}
