#carddavbrowser-toolbar-palette-button {
  list-style-image: url("chrome://carddavbrowser/content/images/icon24.png");
}
toolbar[iconsize="small"] #carddavbrowser-toolbar-palette-button {
  list-style-image: url("chrome://carddavbrowser/content/images/icon16.png");
}
